.title {
    padding: 50px;
}

.button-Follow {
    color: #afa9a9;
    border-color: #afa9a9;
    margin-right: 3px;
}

.button-Follow:hover {

    background-color: #afa9a9;

}
.body-text-detail{
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}
.Comments-header {
    text-align: center;
}

.comment-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(760px, 1fr));
  grid-gap: 10px;
}

.comment-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.comment-area {
  width: 100%;
  border: none;
  resize: none;
}

.header-articles-content {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.info {
  margin-left: 10px;
}

.comment-area1 {
  width: 100%;
  border: none;
  border-color: white;
}
textarea:focus {
  outline: none;
}