.title {
    padding: 50px;
}

.button-Follow {
    color: #afa9a9;
    border-color: #afa9a9;
    margin-right: 3px;
}

.button-Follow:hover {

    background-color: #afa9a9;

}
.body-text-detail{
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}
.Comments-header {
    text-align: center;
}