.avatar {
    border-radius: 50%;
    min-width: 7%;
    /* min-height: 7%; */
}

.bg-profile {
    background-color: #f3f3f3;
}

.user-bio {
    color: #aaa;
}
.ActiveMyArticles{
    color: #5CB85C;
    text-decoration: none;
    border-bottom: 1px solid #59af59
}